@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Variable.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', Helvetica, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
    background-color: #ffffff;
}

button {
    font-family: 'Satoshi', Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}